# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Flask
SECRET_KEY=

# Внешние API
YANDEX_MAPS_API_KEY=
DEEPSEEK_API_KEY=

# PythonAnywhere (деплой)
PYTHONANYWHERE_API_TOKEN=
PYTHONANYWHERE_USERNAME=
